{{ with .Site.Data.feature }}
  {{ if .enable }}
    <section class="feature" id="feature">
      <div class="container">
        {{ $Section := .features }}
        {{ range $Section }}
          <section class="feature-section" id="{{ .name }}">
            <div class="row align-items-center">
              {{ if (eq .position "right")}}
              <div class="col-lg-6">
              {{ else }}
              <div class="col-lg-6 order-lg-1">
              {{ end }}
                <div class="feature-image">
                  <img
                    {{ if (eq .position "right")}}
                    src="images/feature/feature-shape-01.svg"
                    class="feature-image-shape1"
                    style="left: -25%; top: 10%;"
                    alt="feature-image-shape"
                    {{ else }}
                    src="images/feature/feature-shape-03.svg"
                    class="feature-image-shape3"
                    style="right: -25%; top: 10%;"
                    alt="feature-image-shape"
                    {{ end }}
                  />
                  <img
                    src={{ .image }}
                    alt="feature-image"
                  />
                  <img
                    {{ if (eq .position "right")}}
                    src="images/feature/feature-shape-02.svg"
                    style="right: -13%; top: 45%;"
                    class="feature-image-shape2"
                    alt="feature-image-shape"
                    {{ else }}
                    src="images/feature/feature-shape-04.svg"
                    style="left: -20%; top: 42%;"
                    class="feature-image-shape4"
                    alt="feature-image-shape"
                    {{ end }}
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-content ml-25">
                  <h2>
                    {{ .title }}
                  </h2>
                  {{ range $index, $Section := .paragraphs }}
                  <p>
                    {{ .text }}
                  </p>
                  {{ end }}
                  <div class="feature-content-list">
                    <ul>
                      {{ $Section := .checkItems }}
                      {{ range $Section }}
                        <li>
                          <i class="ti-check"></i>
                          <p> {{ .text }} </p>
                        </li>
                      {{ end }}
                    </ul>
                  </div>
                  {{ if .button.enabled }}
                      <a href="{{ .button.link }}" data-text={{ .button.text }} class="btn btn-primary" style="margin: 10%;">
                        <span>{{ .button.text }}</span>
                      </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </section>
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}