{{ with .Site.Data.screenshots }}
  {{ if .enable }}
    <section class="screenshots">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="screenshots-title">
              <h2>
                {{ .title }}
              </h2>
              <p>
                {{ .description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="screenshots-wrapper">
        <div class="screenshots-slider">
          {{ $Section := .images }}
          {{ range $Section }}
            <div class="screenshots-slider-item">
              <div class="parent" style="position: relative;">
                <img src={{ .url }} alt="" style="position: absolute; top: 0; left: 0; padding:0 9px;" />
                <img src="images/screenshots/slider-frame.svg" alt="slider-frame" style="position: relative;" />
              </div>
              <div class="screenshots-title">
                <p>{{ .text }}</p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}