{{ define "main" }}

<section class="page-header blog-single-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Oops! That page doesn't seem to exist.
        </h2>
        <p>
            Here's a cat for your troubles <i class="ti-face-smile"></i>
        </p>
        <img src="/images/404/cat.webp" alt="A kitten laying on a green rug staring at the camera." style="display: block; margin-left: auto; margin-right: auto; width: 75%;" />
        <a href="/" data-text="Go Home" class="btn btn-primary" style="margin: 10%;">
            <span>Go Home</span>
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}